#container
  #inner
    .main
      = form_with(scope: :user, url: session_path(resource_name), local: true, class: 'form') do |f|
        %h1.title ログイン
        .form__color
          .form__color__area
            .form__color__area__name メールアドレス:
            .form__color__area__input
              = f.label :email, class: "form__color__area__input__icon" do
                %p
                  = icon('far', 'envelope')
              = f.email_field :email, id: "user_email", class: "form__color__area__input__field", required: true
          .form__color__area
            .form__color__area__name パスワード:
            .form__color__area__input
              = f.label :password, class: "form__color__area__input__icon" do
                %p
                  = icon('fas', 'lock')
              = f.password_field :password, id: "user_password", class: "form__color__area__input__field", pattern: "^(?=.*?[a-zA-Z])(?=.*?\\d)[a-zA-Z\\d]{8,100}$", required: true
          .submit
            = f.submit "新規登録", class: 'submit__btn'
      .description
        %p
          興味と知識を共有できるWebサービス
          %br
          e-learning_system
          %br
          さあ、リテラシーをシェアしよう！
  = link_to new_user_registration_path, class: "sign_in" do
    .sign_in__btn
      = icon('fas', 'share-square')
      アカウントをお持ちではない方はこちら