#container
  %header#header.top
    .inner
      .inner__left
        .user-photo
          = image_tag "/assets/png/profile.png", alt: "プロフィール写真"
        .logo
          = link_to root_path do
            = image_tag "/assets/png/eLS_logo.png", alt: "title_logo"
      .search
        = form_with(url: '#' , method: :get, local: :true) do |f|
          = f.text_field :search_word, class: 'search__window', placeholder: 'キーワード検索'
          = f.button type: 'submit', class: 'search__btn' do
            = icon('fas', 'search')
      - if user_signed_in?
        .tmp-signout
          = link_to "サインアウト", destroy_user_session_path, method: :delete
      - else
        .tmp-signup
          = link_to "ユーザー登録", new_user_registration_path
        .tmp-signin
          = link_to "ログイン", new_user_session_path

      = link_to root_path do
        .create-new
          = icon('fas', 'edit', class: 'create-new__icon')
          新規作成
  %nav#side
    %ul.menu
      %li.name
        学習太郎
      %li.followed
        フォローユーザー
      %li.menu__purchased
        購入した問題
      %li.menu__group
        マイグループ
      %li.menu__created
        作成した問題
      %li.menu__sales
        売上
  #main
    .category
      .category__list
        = icon('fas', 'folder')
        カテゴリー 一覧
      .category__inner
        .category__inner__name
          = icon('fas', 'bars')
          すべてのカテゴリー
        .category__inner__name
          = icon('fas', 'chart-bar')
          ビジネススキル
        .category__inner__name
          = icon('fas', 'laptop-code')
          Web・IT・デザイン
        .category__inner__name
          = icon('fas', 'photo-video')
          写真・映像
        .category__inner__name
          = icon('fas', 'language')
          英語・語学
        .category__inner__name
          = icon('fas', 'utensils')
          料理・グルメ
        .category__inner__name
          = icon('fas', 'heartbeat')
          ビューティー・ヘルス
        .category__inner__name
          = icon('fas', 'graduation-cap')
          文化・教養
        .category__inner__name
          = icon('fas', 'lightbulb')
          ライフハック・自己啓発
        .category__inner__name
          = icon('fas', 'baby')
          子育て・キッズ
      .articles
        ビジネススキル の問題一覧
        .inner
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
