.new-article
  %header
    = link_to root_path do
      = image_tag "/assets/png/eLS_logo.png", alt: "title_logo"
  = simple_form_for @article, url: {controller: 'articles', action: 'create'}, local: true do |f|
    .menu1
      .menu1__container
        %p.menu1__container__name
          カテゴリー１
        = f.collection_select :article_category, @root_categories, :id, :name, {}, class: "menu1__container__select" 
      .menu1__container
        %p.menu1__container__name
          出題形式
        = f.select :article_format, Article.formats_i18n.invert, {}, class: "menu1__container__select"
    .article-title
      .article-title__name タイトル
      = f.input :article_title, label: false, placeholder: "タイトルを入力してください"
    #pages.pages
      .pages__page
        .pages__page__container
          .pages__page__container__name 問題文
          .pages__page__container__text
            = f.text_area :page_text, class: "pages__page__container__text__area", placeholder: "問題文を入力してください。"
        #correct.pages__page__container
          .pages__page__container__name-block 正答
          .pages__page__container__add-form
            = icon('fas', 'plus')
          .pages__page__container__answer
            = f.input_field :option_correct, class: 'form', label: false
        #wrong.pages__page__container
          .pages__page__container__name-block 誤答
          .pages__page__container__add-form
            = icon('fas', 'plus')
          .pages__page__container__answer
            = f.input_field :option_wrong, label: false, class: "form" 
    .menu2
      .menu2__container
        .menu2__container__name 料金
        .menu2__container__input
          = f.input_field :article_price, label: false, class: "form", placeholder: "0"
          円
      .menu2__container
        .menu2__container__name 制限時間
        .menu2__container__input
          = f.input_field :article_time_limit, class: "form", placeholder: "0"
          分
      .menu2__container
        .menu2__container__name 公開する
        .menu2__container__select
          = f.input :article_public, as: :boolean, label: false, class: "public"
      .menu2__submit
        = f.button :submit, value: "問題作成", class: "menu2__submit__btn"
