#container
  = render 'shared/header'
  = render 'side_bar'

  #main
    .category
      .category__list
        = icon('fas', 'folder')
        カテゴリー  /  一覧
      .category__inner
        - @root_categories.each do |category|
          .category__inner__name
            = category.name
        -# .category__inner__name
        -#   = icon('fas', 'laptop-code')
        -#   Web・IT・デザイン
        -# .category__inner__name
        -#   = icon('fas', 'photo-video')
        -#   写真・映像
        -# .category__inner__name
        -#   = icon('fas', 'language')
        -#   英語・語学
        -# .category__inner__name
        -#   = icon('fas', 'utensils')
        -#   料理・グルメ
        -# .category__inner__name
        -#   = icon('fas', 'heartbeat')
        -#   ビューティー・ヘルス
        -# .category__inner__name
        -#   = icon('fas', 'graduation-cap')
        -#   文化・教養
        -# .category__inner__name
        -#   = icon('fas', 'lightbulb')
        -#   ライフハック・自己啓発
        -# .category__inner__name
        -#   = icon('fas', 'baby')
        -#   子育て・キッズ
      .articles
        すべてのカテゴリー の問題
        .inner
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
          %ul.article
            = icon('fas', 'plus-square')
            タイトル
            %li.content
              問題
            %li.content
              問題
