#container
  = render 'shared/header'
  #main
    = render 'side_bar', root_categories: @root_categories
    .category-contents
      .root-name
        = @current_category.name
      .parents
        - @current_category_children.each do |parent_category|
          .parents__parent-name
            = link_to "#{params[:id]}/#{parent_category.id}" do
              = parent_category.name